
.App {
    font-family: sans-serif;
    text-align: center;
  }

.poke-card{
  max-width: 50%;
  float:left;
  padding: 5%;
  border-radius: 25px;
  margin:2%;
}

.poke-card h3{
  color: white;
  font-family: 'Pokemon Solid', sans-serif;
}

.fire{
  background-color: rgb(255, 0, 1);
}

.water{
  background-color: rgb(101, 0, 255);
}

.grass{
  background-color: rgb(51, 254, 0);
}

.bug{
  background-color: chartreuse;
}